*.rb linguist-language=PHP
application/cache/*.html linguist-documentation
application/core/*.html linguist-documentation
application/hooks/*.html linguist-documentation
application/language/*.html linguist-documentation
application/libraries/*.html linguist-documentation
application/logs/*.html linguist-documentation
application/models/*.html linguist-documentation
application/third_party/*.html linguist-documentation
